#navbar {
  width: 100%;
  height: 80px;
  opacity: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); 
}

#navbar-brand, .ikutpeduli {
  font-family: Open Sans Extrabold;
  letter-spacing: 1px;
  font-size: 21px;
  color: #45BF7C; 
}

.rectangle {
  transform: scaleY(-1) rotate(180deg);
  background: #D8D8D8;
  border: 1px solid rgba(197, 197, 197, 0.5);
  height: 38px; 
}

.imgsrc {
  opacity: 0.5;
  width: 26px;
  height: 26px; 
}

.search_input {
  opacity: 0.5;
  font-family: Open Sans;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  border: none;
  background-color: transparent; 
}

.content {
  margin-left: 20px; 
}

.register {
  border-radius: 6px;
  background: #80B340;
  width: 101px;
  height: 36px;
  font-family: Open Sans Semibold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0; 
  margin-top: 10px;
}

.register:hover {
  color: #FFFFFF; 
}

.login {
  font-family: Open Sans Semibold;
  font-size: 13px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 20px; 
}

.imguser {
  width: 42px;
  height: 42px; 
}

ul .help {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 35px; 
  margin-top: 10px;
}

ul .explore {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 10px; 
  margin-top: 10px;
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

p {
  font-size: 12px;
  font-family: Open Sans;
  color: #72777E;
  letter-spacing: 0; 
}

a:hover {
  color: #45BF7C;
  text-decoration: none;
  cursor: pointer; 
}

#card_user {
  margin-top: 160px;
}

.list-group {
  width: 100%;
}

.card-text {
  font-family: Helvetica;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  left: 99px;
}

.imgprofil {
  border: 2px solid #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
  width: 65px;
  height: 65px;
  margin-bottom: 20px;
}

.link-link {
  font-family: Open Sans;
  font-size: 16px;
  color: #72777E;
}

.imgicon {
  width: 43.3px;
  height: 42px;
}

.notify-badge {
  position: absolute;
  left: 42px;
  top: 22px;
  border-radius: 30px 30px 30px 30px;
  background: #F92B1A;
  border: 2px solid #FFFFFF;
  padding:3px 3px;
}

.edit_prop {
  position: absolute;
  left: 94px;
  top: 62px;
}

.headline {
  font-family: Helvetica;
  font-size: 24px;
  color: #3C3C3C;
  letter-spacing: 0;
  line-height: 42px;
}

.box1 {
  background: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.08);
  height: 146px;
}

.imglapdonasi {
  background: rgba(69,191,124,0.25);
  margin-top: 15px;
  width: 63.5px;
  height: 64.5px;
}

.dana_donasi {
  font-family: Helvetica;
  font-size: 20px;
  color: #45BF7C;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 45px;
  left: 118px;
}

.status_ket {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 72px;
  left: 118px;
}

.box2 {
  background: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.08);
  height: 456px;
}
.imgbox {
  width: 120px;
  height: 120px;
  margin-top: 50px;
}

.test {
  width: 119px;
  height: 117px;
  background-color: #45BF7C 25%;
  background: rgba(69,191,124,0.25);
  position: absolute;
  top: 300px;
  left: 367px;
}

.test1 {
  width: 26.7px;
  height: 26.7px;
  background-color: #45BF7C 25%;
  transform: rotate(-141deg);
  background: rgba(69,191,124,0.25);
  position: absolute;
  top: 390px;
  left: 500px;
}

.test2 {
  width: 12.6px;
  height: 12.6px;
  background-color: #45BF7C 25%;
  transform: rotate(-141deg);
  background: rgba(69,191,124,0.25);
  position: absolute;
  top: 422px;
  left: 470px;
}

.test3 {
  width: 9px;
  height: 9px;
  background-color: #45BF7C 25%;
  transform: rotate(-141deg);
  background: rgba(69,191,124,0.25);
  position: absolute;
  top: 310px;
  left: 347px;
}

.test4 {
  width: 19px;
  height: 19px;
  background-color: #45BF7C 25%;
  transform: rotate(-141deg);
  background: rgba(69,191,124,0.25);
  position: absolute;
  top: 339px;
  left: 332px;
}

.box_ket {
  font-family: Helvetica;
  font-size: 24px;
  color: #3C3C3C;
  letter-spacing: 0;
  line-height: 42px;
}

.deskripsi {
  font-family: Open Sans;
  font-size: 16px;
  color: #8B8B8B;
  letter-spacing: 0;
  text-align: center;
}

.btn_donasi {
  background: #45BF7C;
  border: 1px solid #45BF7C;
  border-radius: 4px;
  width: 204px; 
  height: 46px;
  margin-top: 20px;
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

footer {
  background: #F9F9F9;
  margin-top: 100px;
}

.imglogo{
  width: 176px;
  height: 37px;
  margin-top: 20px;
}

.temukan {
  margin-top: 20px;
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 32px;
}

.find_text {
  margin-top: 9px;
  margin-right: 30px;
}

.imgsosmed {
  margin-right: 25px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #DFDFDF;
}

a {
  color: #45BF7C;
  text-decoration: none;
}

.head_footer {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 24px;
}

.subjudul {
  font-family: Open Sans Semibold;
  font-size: 18px;
  color: #555555;
}

.cr_footer {
  font-family: Open Sans;
  font-size: 12px;
  color: #72777E;
  margin-top: 4.5px;
  margin-bottom: 31px;
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

/*kalkulator*/
.card_kalku {
  background: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.08);
  height: 1083px;
  width: 100%;
}

.card_identitas {
  background: #FFFFFF;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.10);
  height: 244px;
}

.imgcal {
  width: 47px;
  height: 46.3px;
  margin-top: 30px;
  margin-left: 30px;
}

.nm_kalzak {
  font-family: Helvetica;
  font-size: 30px;
  color: #3C3C3C;
  letter-spacing: 0;
  float: right;
  line-height: 42px;
  position: absolute;
  top: 79px;
  left: 110px;
}

.desc_zakat {
  font-family: Open Sans;
  font-size: 16px;
  color: #8B8B8B;
  letter-spacing: 0;
  margin-left: 96.5px;
  margin-right: 50px;
}

/*konfirmasi pembayaran*/
.card_bayar {
  background: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.08);
  height: 298px;
  width: 580px;
}