* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.topnav {
	width: 100%;
	height: 80px;
	opacity: 100%;
	background: #FFFFFF;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
	background-color: #FFFFFF;	
}
.logo {
	font-family: Open Sans Semibold;
	letter-spacing: 1px;
	font-size: 21px;
	position: absolute;
	top: 28px;
	left: 60px;
	color: #45BF7C;
}
.reactangle_copy {
	position: absolute;
	top: 30px;
	left: 185px; 
	height: 38px;
	transform: scaleY(-1) rotate(-90deg);
	background: #D8D8D8;
	border: 1px solid rgba(197,197,197,0.50);
}
.imgsearch {
	position: absolute;
	top: 30px;
	left: 222px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	width: 22px;
	height: 22px;
}
.search {
	position: absolute;
	top: 32px;
	left: 255px;
	opacity: 0.5;
	font-family: Open Sans;
	font-size: 14px;
	color: #3C3C3C;
	letter-spacing: 0;
	border: none;
	width: 300px;
}
/*a {
	color: inherit;
	text-decoration: none;
}*/
.explore {
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #72777E;
	letter-spacing: 0;
	padding-bottom: 28px;
	position: absolute;
	top: 30px;
	left: 620px;
}
.news_update {
	position: absolute;
	top: 30px;
	left: 790px;
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #72777E;
	letter-spacing: 0;
}
.bantuan {
	position: absolute;
	top: 30px;
	left: 940px;
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #72777E;
	letter-spacing: 0;
}
.imgsrc {
	width: 42px;
	height: 42px;
	position: absolute;
	top: 20px;
	left: 1075px;
}
.login {
	position: absolute;
	top: 30px;
	left: 1120px;
	font-family: Open Sans;
	font-size: 13px;
	color: #72777E;
	letter-spacing: 0;
}
.vue-btn {
	position: absolute;
	top: 22px;
	right: 60px;
	font-family: Open Sans;
	width: 101px;
	height: 36px;
	background: #F9A21A;
	border-radius: 6px;
}
.beranda {
	position: absolute;
	top: 107px;
	left: 60px;
	font-family: Open Sans;
	font-size: 12px;
	color: #5CB85C;
	letter-spacing: 0;
}
.imgnextatas {
	position: absolute;
	top: 110px;
	left: 120px;
}
.category_proyek {
	position: absolute;
	top: 107px;
	left: 145px;
	font-family: Open Sans;
	font-size: 12px;
	color: #5CB85C;
	letter-spacing: 0;
}
.imgnextatas2 {
	position: absolute;
	top: 110px;
	left: 245px;
}
.eksplore {
	position: absolute;
	top: 107px;
	left: 270px;
	font-family: Open Sans;
	font-size: 12px;
	color: #3C3C3C;
	letter-spacing: 0;
}
.imgpalstn {
	position: absolute;
	top: 160px;
	left: 60px;
	width: 681px;
	height: 442px;
}
.imgback {
	position: absolute;
	top: 658px;
	left: 60px;
	width: 24px;
	height: 24px;
}
.imgpalstn1 {
	position: absolute;
	top: 632px;
	left: 110px;
	width: 75px;
	height: 75px;
}
.imgpalstn2 {
	position: absolute;
	top: 632px;
	left: 200px;
	width: 75px;
	height: 75px;
	opacity: 0.5;
}
.imgpalstn3 {
	position: absolute;
	top: 632px;
	left: 290px;
	width: 75px;
	height: 75px;
	opacity: 0.5;
}
.imgpalstn4 {
	position: absolute;
	top: 632px;
	left: 380px;
	width: 75px;
	height: 75px;
	opacity: 0.5;
}
.imgnext {
	position: absolute;
	top: 658px;
	left: 720px;
	width: 24px;
	height: 24px;
}
.headline {
	position: absolute;
	top: 152px;
	left: 770px;
	font-family: Helvetica;
	font-size: 32px;
	color: #555555;
	line-height: 40px;
}
.category {
	position: absolute;
	top: 275px;
	left: 770px;
	font-family: Open Sans Semibold;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.zakat {
	position: absolute;
	top: 275px;
	left: 850px;
	font-family: Open Sans Semibold;
	font-size: 14px;
	color: #F9A21A;
	line-height: 18px;
}
.palestine {
	position: absolute;
	top: 275px;
	left: 980px;
	font-family:  Open Sans;
	font-size: 14px;
	color: #555555;
	line-height: 18px;
}
.name_user {
	position: absolute;
	top: 275px;
	left: 1120px;
	font-family:  Open Sans;
	font-size: 14px;
	color: #555555;
	line-height: 18px;
}
.line {
	position: absolute;
	top: 310px;
	right: 60px;
	width: 520px;
	border: 1px solid #C5C5C5;
}
.terkumpul {
	position: absolute;
	top: 330px;
	left: 770px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.uang1 {
	position: absolute;
	top: 350px;
	left: 770px;
	font-family: Helvetica;
	font-size: 24px;
	color: #45BF7C;
	line-height: 40px;
}
.dana {
	position: absolute;
	top: 330px;
	right: 60px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.uang2 {
	position: absolute;
	top: 351px;
	right: 60px;
	font-family: Open Sans Semibold;
	font-size: 18px;
	color: #72777E;
	text-align: right;
	line-height: 40px;
}
.line_hitung {
	position: absolute;
	top: 410px;
	right: 60px;
	width: 520px;
	height: 8px;
	background: #E7E7E7;
	border-radius: 4px;
}
.line_success {
	position: absolute;
	top: 410px;
	left: 770px;
	width: 320px;
	height: 8px;
	background: #45BF7C;
	border-radius: 4px;
}
.openGoal {
	position: absolute;
	top: 435px;
	left: 770px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.days {
	position: absolute;
	top: 435px;
	right: 122px;
	font-family: Open Sans Semibold;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.hari {
	position: absolute;
	top: 435px;
	right: 60px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.share {
	position: absolute;
	top: 496px;
	left: 770px;
	font-family: Open Sans Semibold;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.link {
	position: absolute;
	top: 490px;
	right: 60px;
	width: 36px;
	height: 36px;
}
.email {
	position: absolute;
	top: 490px;
	right: 96px;
	width: 36px;
	height: 36px;
}
.gmail {
	position: absolute;
	top: 490px;
	right: 132px;
	width: 36px;
	height: 36px;
}
.wa {
	position: absolute;
	top: 490px;
	right: 168px;
	width: 36px;
	height: 36px;
}
.twit {
	position: absolute;
	top: 490px;
	right: 204px;
	width: 36px;
	height: 36px;
}
.fb {
	position: absolute;
	top: 490px;
	right: 240px;
	width: 36px;
	height: 36px;
}
.vue_btn {
	position: absolute;
	top: 552px;
	left: 770px;
	width: 520px;
	height: 46px;
	background: #45BF7C;
	border-radius: 4px;
	padding: 6px 12px;
	border: 1px solid #ccc;
	cursor: pointer;
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
}
.galang {
	position: absolute;
	top: 621px;
	left: 770px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.date {
	position: absolute;
	top: 621px;
	left: 955px;
	font-family: Open Sans Semibold;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.by {
	position: absolute;
	top: 621px;
	left: 1047px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.card {
	position: absolute;
	top: 658px;
	left: 770px;
	width: 520px;
	height: 371px;
	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 4px;
	/*opacity: 0.5;*/
}
.photo {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 50px;
	height: 50px;
}
.name {
	position: absolute;
	top: 20px;
	left: 100px;
	font-family: Helvetica;
	font-size: 18px;
	color: #555555;
	line-height: 40px;
}
.verification {
	position: absolute;
	top: 59px;
	left: 100px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.img_ver {
	position: absolute;
	top: 62px;
	left: 226px;
	width: 14px;
	height: 14px;
}
.line_card1 {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 519px;
	height: 2px;
	opacity: 0.2;
	border: 1px solid #C5C5C5;
}
.proyek {
	position: absolute;
	top: 117px;
	left: 30px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.line_card2 {
	position: absolute;
	top: 150px;
	left: 0px;
	width: 519px;
	height: 2px;
	opacity: 0.2;
	border: 1px solid #C5C5C5;
}
.jml_proyek {
	position: absolute;
	top: 117px;
	right: 76px;
	font-family: Open Sans Semibold;
	font-size: 20px;
	color: #45BF7C;
	line-height: 18px;
}
.jml_proyek1 {
	position: absolute;
	top: 123px;
	right: 30px;
	font-family: Open Sans;
	font-size: 12px;
	color: #C5C5C5;
	line-height: 12px;
}
.line_card3 {
	position: absolute;
	top: 199.4px;
	left: 0px;
	width: 519px;
	height: 2px;
	opacity: 0.2;
	border: 1px solid #C5C5C5;
}
.start_proyek {
	position: absolute;
	top: 167px;
	left: 30px;
	font-family: Open Sans;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.start_proyek1 {
	position: absolute;
	top: 167px;
	right: 76px;
	font-family: Open Sans Semibold;
	font-size: 20px;
	color: #72777E;
	line-height: 18px;
}
.start_proyek2 {
	position: absolute;
	top: 173px;
	right: 30px;
	font-family: Open Sans;
	font-size: 12px;
	color: #C5C5C5;
	line-height: 12px;
}
.contact {
	position: absolute;
	top: 231px;
	left: 30px;
	font-family: Open Sans Semibold;
	font-size: 14px;
	color: #72777E;
	line-height: 18px;
}
.email_user {
	position: absolute;
	top: 222px;
	right: 30px;
	width: 36px;
	height: 36px;
}
.wa_user {
	position: absolute;
	top: 222px;
	right: 66px;
	width: 36px;
	height: 36px;
}
.fb_user {
	position: absolute;
	top: 222px;
	right: 102px;
	width: 36px;
	height: 36px;
}
.vue_btn_profile {
	position: absolute;
	top: 295px;
	left: 30px;
	width: 460px;
	height: 46px;
	background: #45BF7C;
	border-radius: 4px;
	font-family: Open Sans Semibold;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	padding: 6px 12px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.donatur {
	position: absolute;
	top: 1045px;
	left: 770px;
	font-family: Helvetica;
	font-size: 18px;
	color: #555555;
	line-height: 40px;
}
.card_donatur {
	position: absolute;
	top: 1095px;
	left: 770px;
	width: 520px;
	height: 477px;
	background: #FFFFFF;
	border: 1px solid #979797;
	border-radius: 4px;
}
.line_card4 {
	position: absolute;
	top: 63px;
	left: 0;
	width: 519px;
	height: 1px;
	opacity: 0.5;
	transform: scaleY(-1);
	background: #D8D8D8;
}