#navbar {
  width: 100%;
  height: 80px;
  opacity: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); }

#navbar-brand, .ikutpeduli {
  font-family: Open Sans Extrabold;
  letter-spacing: 1px;
  font-size: 21px;
  color: #45BF7C; }

.rectangle {
  transform: scaleY(-1) rotate(180deg);
  background: #D8D8D8;
  border: 1px solid rgba(197, 197, 197, 0.5);
  height: 38px; }

.imgsrc {
  opacity: 0.5;
  width: 26px;
  height: 26px; }

.search_input {
  opacity: 0.5;
  font-family: Open Sans;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  border: none;
  background-color: transparent; }

.content {
  margin-left: 20px; }

.register {
  border-radius: 6px;
  background: #F9A21A;
  width: 101px;
  height: 36px;
  font-family: Open Sans Semibold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0; }

.register:hover {
  color: #FFFFFF; }

.login {
  font-family: Open Sans Semibold;
  font-size: 13px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 20px; }

.imguser {
  width: 42px;
  height: 42px; }

ul .help {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 35px; }
ul .news, ul .explore {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 10px; }

a {
  color: #45BF7C;
  text-decoration: none; }

a:hover {
  color: #45BF7C;
  text-decoration: none;
  cursor: pointer; }

.beranda {
  color: #5CB85C;
  margin-top: 50px;
  background-color: transparent;
  font-size: 12px; }

.explore_pro {
  color: #3C3C3C;
  margin-top: 50px;
  background-color: transparent;
  font-size: 12px;
  margin-left: 10px; }

.next_ico, .category_pro {
  margin-left: 10px; }

.images_ {
  width: 681px;
  height: 442px;
  margin-top: 27px; }

.imgback, .imgnext, .alert-secondary, .lapor, .keterangan, .desc {
  margin-top: 45px; }

.images_1 {
  width: 75px;
  height: 75px;
  margin-top: 30px;
  margin-left: 30px; }

.images_2 {
  width: 75px;
  height: 75px;
  margin-top: 30px;
  opacity: 0.5;
  margin-left: 10px; }

.headline {
  font-family: Helvetica;
  font-size: 32px;
  color: #555555;
  line-height: 40px;
  margin-top: 20px; }

.category, .goal, .zakat, .tempat, .findus, .about_footer {
  font-family: Open Sans;
  color: #72777E;
  line-height: 18px; }

.zakat {
  font-family: Open Sans Semibold;
  color: #F9A21A;
  margin-left: 10px; }

.place {
  color: #555555;
  font-family: Open Sans;
  letter-spacing: 0;
  margin-left: 15px; }

.detail {
  border: 1px solid #C5C5C5; }

i {
  opacity: 0.2; }

.dana {
  font-family: Open Sans;
  color: #72777E;
  font-size: 14px;
  padding: 0px;
  margin: 0px; }

.terkumpul {
  font-family: Helvetica;
  font-size: 24px;
  color: #45BF7C;
  line-height: 40px;
  padding: 0px;
  margin: 0px; }

.butuhkan {
  font-family: Open Sans Semibold;
  font-size: 18px;
  color: #72777E;
  line-height: 40px;
  text-align: right;
  padding: 0px;
  margin: 0px; }

.line_ {
  background: #E7E7E7;
  border-radius: 4px;
  height: 8px; }

.line_2 {
  background: #45BF7C;
  border-radius: 4px;
  height: 8px; }

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs {
  margin-top: 27px; }

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #555555;
  background-color: transparent;
  border-color: transparent transparent;
  border-bottom: 4px solid !important;
  font-size: 16px;
  font-weight: bold;
  font-family: Open Sans Semibold; }

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: 16px; }

.tab-content, .ket {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 24px; }

#zakat {
  font-family: Open Sans Semibold;
  color: #72777E;
  line-height: 24px;
  margin-left: 15px; }

.lapor {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #72777E;
  line-height: 24px; }

.disclaimer, .start {
  margin-top: 19px;
  font-family: Open Sans;
  color: #72777E;
  line-height: 24px; }

.day {
  font-family: Open Sans Semibold;
  color: #72777E;
  line-height: 18px; }

.btnzakat, .btnbuat {
  background: #45BF7C;
  border-radius: 4px;
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  height: 46px;
  padding: 0px;
  width: 100%;
  margin-top: 30px; }

.imgiduser {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 10px; }

p {
  font-size: 14px; }

.nm_user {
  font-family: Helvetica;
  color: #555555;
  line-height: 40px; }

.user_proyek {
  font-family: Open Sans Semibold;
  font-size: 20px;
  line-height: 18px; }

.donatur {
  font-family: Helvetica;
  color: #555555;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px; }

.imgiddonatur {
  width: 45px;
  height: 45px;
  background: #E8E8E8;
  border: 1px solid #C4C4C4; }

.donasi {
  font-family: Helvetica;
  font-size: 16px;
  color: #555555;
  line-height: 33px; }

.nm_donatur {
  font-family: Open Sans Semibold;
  color: #72777E;
  line-height: 5px; }

.time_donasi {
  opacity: 0.5;
  font-family: Open Sans;
  font-size: 12px;
  color: #72777E;
  line-height: 5px; }

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
  .shadow:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12); }

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); }

.box {
  font-family: Open Sans Semibold;
  font-size: 20px;
  color: #555555;
  line-height: 115px;
  width: 100%;
  float: left;
  position: absolute;
  top: 50px;
  left: 50px;
   }

.cardyuk {
	background: #F9F9F9;
	box-shadow: 0 2px 10px 0 rgba(102, 102, 102, 0.30);
	border-radius: 4px;
	width: 100%;
	height: 90px;
	margin-top: 60px;
}

.btnbuat {
  background: #F9A21A;
  border-radius: 4px;
  height: 52px;
  width: 238px;
  position: absolute;
  top: 50px;
  right: 50px; }

.btnbuat:hover {
  color: #FFFFFF; }

.pyk_lain {
  font-family: Gotham Medium;
  color: #3C3C3C;
  letter-spacing: 0;
  margin-top: 102px; }

.card_pyk {
  background: #FFFFFF;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  height: 454px; }

.card-img-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 11%, rgba(0, 0, 0, 0) 72%);
  border-radius: 4px 4px 0 0;
  }

.head_card {
  font-family: Open Sans Semibold;
  color: #333333;
  line-height: 28px; }

.card_uang {
  font-family: Open Sans Semibold;
  color: #45BF7C;
  font-size: 14px;
 }

.cardtime {
	font-family: Open Sans Semibold;
	font-size: 13px;
	color: #72777E;
}

.notify-badge {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 122px;
  height: 36px;
  background: #C5C5C5;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center; }

footer {
  margin-top: 150px;
  background: #F9F9F9; }
  footer .head_footer {
    font-family: Open Sans;
    color: #72777E;
    line-height: 24px;
    margin-top: 30px; }
  footer .imgfindus {
    width: 30px;
    height: 30px;
    margin-left: 30px; }
  footer .imgfindus_ {
    width: 30px;
    height: 30px;
    margin-left: 20px; }
  footer .judul {
    font-family: Open Sans Semibold;
    color: #555555;
    margin: 30px; }

/*# sourceMappingURL=project.css.map */
