$g : #45BF7C;
$o : #F9A21A;
$b : #5CB85C;
$w : #FFFFFF;
$a: #72777E;
$p: #3C3C3C;
$opacity : 0.5;
$position : absolute;
$font: Open Sans;
$font_semi: Open Sans Semibold;
$size: 16px;
$font_ : Gotham Medium;

#navbar {
	width: 100%;
	height: 80px;
	opacity: 100%;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.10);
}
#navbar-brand, .ikutpeduli {
	font-family: Open Sans Extrabold;
	letter-spacing: 1px;
	font-size: 21px;
	color: $g;
}
.rectangle {
	transform: scaleY(-1) rotate(180deg);
	background: #D8D8D8;
	border: 1px solid rgba(197,197,197,0.50);
	height: 38px;
}
.imgsrc {
	opacity: $opacity;
	width: 26px;
	height: 26px;
}
.search_input {
	opacity: $opacity;
	font-family: $font;
	font-size: $size;
	color: $p;
	letter-spacing: 0;
	border: none;
	background-color: transparent;
}
.content {
	margin-left: 20px;
}
.register {
	border-radius: 6px;
	background: $o;
	width: 101px;
	height: 36px;
	font-family: $font_semi;
	font-size: 13px;
	color: $w;
	letter-spacing: 0;
}
.register:hover {
	color: $w;
}
.login {
	font-family: $font_semi;
	font-size: 13px;
	color: $a;
	letter-spacing: 0;
	margin-right: 20px;
}
.imguser {
	width: 42px;
	height: 42px;
}
ul {
	.help {
		font-family: $font_semi;
		font-size: $size;
		color: $a;
		letter-spacing: 0;
		margin-right: 35px; 
	}
	.news, .explore {
		font-family: $font_semi;
		font-size: $size;
		color: $a;
		letter-spacing: 0;
		margin-right: 10px;
	}
}
a {
	color: $g;
	text-decoration: none;
}
a:hover 
{
    color: $g; 
    text-decoration: none; 
    cursor: pointer;  
}
.beranda {
	color: $b;
	margin-top: 50px;
	background-color: transparent;
	font-size: 12px;
}
.explore_pro {
	color: $p;
	margin-top: 50px;
	background-color: transparent;
	font-size: 12px;
	margin-left: 10px;
}
.next_ico, .category_pro {
	margin-left: 10px;
}
.images_ {
	width: 681px;
	height: 442px;
	margin-top: 27px;
}
.imgback, .imgnext, .alert-secondary, .lapor, .keterangan, .desc {
	margin-top: 45px;
}
.images_1 {
	width: 75px;
	height: 75px;
	margin-top: 30px;
	margin-left: 30px;
}

.images_2 {
	width: 75px;
	height: 75px;
	margin-top: 30px;
	opacity: 0.5;
	margin-left: 10px;
}
.headline {
	font-family: Helvetica;
	font-size: 32px;
	color: #555555;
	line-height: 40px;
	margin-top: 20px;
}
.category, .goal, .zakat, .tempat, .findus, .about_footer{
	font-family: $font;
	color: $a;
	line-height: 18px;

}
.zakat {
	font-family: $font_semi;
	color: $o;
	margin-left: 10px;
}
.place {
	color: #555555;
	font-family: $font;
	letter-spacing: 0;
	margin-left: 15px;
}
.detail {
	border: 1px solid #C5C5C5;
}
i {
	opacity: 0.2;
}
.dana {
	font-family: $font;
	color: $a;
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
.terkumpul {
	font-family: Helvetica;
	font-size: 24px;
	color: $g;
	line-height: 40px;
	padding: 0px;
	margin: 0px;
}
.butuhkan {
	font-family: $font_semi;
	font-size: 18px;
	color: $a;
	line-height: 40px;
	text-align: right;
	padding: 0px;
	margin: 0px;
}
.line_ {
	background: #E7E7E7;
	border-radius: 4px;
	height: 8px;
}
.line_2 {
	background: $g;
	border-radius: 4px;
	height: 8px;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs {
	margin-top: 27px;
}
#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #555555;
    background-color: transparent;
    border-color: transparent transparent;
    border-bottom: 4px solid !important;
    font-size: 16px;
    font-weight: bold;
    font-family: $font_semi;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 16px;
}
.tab-content, .ket  {
	font-family: $font;
	font-size: 14px;
	color: $a;
	line-height: 24px;
}
#zakat {
	font-family: $font_semi;
	color: $a;
	line-height: 24px;
	margin-left: 15px;
}
.lapor {
	font-family: $font_semi;
	font-size: 16px;
	color: $a;
	line-height: 24px;
}
.disclaimer, .start {
	margin-top: 19px;
	font-family: $font;	
	color: $a;
	line-height: 24px;
}
.day {
	font-family: $font_semi;
	color: $a;
	line-height: 18px;
}
.btnzakat, .btnbuat {
	background: $g;
	border-radius: 4px;
	font-family: $font_semi;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	height: 46px;
	padding: 0px; 
	width: 100%; 
	margin-top: 30px;
}
.imgiduser {
	width: 50px;
	height: 50px;
	margin-right: 20px;
	margin-top: 10px;
}
p {
	font-size: 14px;
}
.nm_user {
	font-family: Helvetica;
	color: #555555;
	line-height: 40px;
}
.user_proyek {
	font-family: $font_semi;
	font-size: 20px;
	line-height: 18px;
}
.donatur {
	font-family: Helvetica;
	color: #555555;
	line-height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.imgiddonatur {
	width: 45px;
	height: 45px;
	background: #E8E8E8;
	border: 1px solid #C4C4C4;
}
.donasi {
	font-family: Helvetica;
	font-size: 16px;
	color: #555555;
	line-height: 33px;
}
.nm_donatur {
	font-family: $font_semi;
	color: $a;
	line-height: 5px;
}
.time_donasi {
	opacity: 0.5;
	font-family: $font;
	font-size: 12px;
	color: $a;
	line-height: 5px;
}
.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

.shadow-nohover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
  background: #F9F9F9;
  border-radius: 4px;
  font-family: $font_semi;
  font-size: 20px;
  color: #555555;
  line-height: 24px;
  height: 5rem;
  width: 100%;
  margin-top: 60px;
}
.btnbuat {
	background: $o;
	border-radius: 4px;
	height: 52px;
	width: 235px;
}
.btnbuat:hover {
	color: $w;
}
.pyk_lain {
	font-family: $font_;
	color: $p;
	letter-spacing: 0;
	margin-top: 102px;
}
.card_pyk {
	background: #FFFFFF;
	box-shadow: 0 4px 20px 0 rgba(0,0,0,0.15);
	border-radius: 4px;
	border: none;
	height: 454px;
}
.card-img-top {
	background-image: linear-gradient(0deg, rgba(0,0,0,0.60) 11%, rgba(0,0,0,0.00) 72%);
	border-radius: 4px 4px 0 0;
	width: 100%;
	height: 230px;
	object-fit: cover;
}
.head_card {
	font-family: $font_semi;
	color: #333333;
	line-height: 28px;
}
.card_uang {
	font-family: $font_semi;
	color: $g;
	margin-top: 7px;
}
.notify-badge{
    position: absolute;
    right: 20px;
    top: 10px;
    width: 122px;
	height: 36px;
    background: #C5C5C5;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    font-family: $font_semi;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}
footer {
	margin-top: 150px;
	background: #F9F9F9;

	.head_footer {
		font-family: $font;
		color: $a;
		line-height: 24px;
		margin-top: 30px;
	}
	.imgfindus {
		width: 30px;
		height: 30px;
		margin-left: 30px;
	}
	.imgfindus_ {
		width: 30px;
		height: 30px;
		margin-left: 20px;
	}
	.judul {
		font-family: $font_semi;
		color: #555555;
		margin: 30px;
	}
}