#navbar {
  width: 100%;
  height: 80px;
  opacity: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); 
}

#navbar-brand, .ikutpeduli {
  font-family: Open Sans Extrabold;
  letter-spacing: 1px;
  font-size: 21px;
  color: #45BF7C; 
}

.rectangle {
  transform: scaleY(-1) rotate(180deg);
  background: #D8D8D8;
  border: 1px solid rgba(197, 197, 197, 0.5);
  height: 38px; 
}

.imgsrc {
  opacity: 0.5;
  width: 26px;
  height: 26px; 
}

.search_input {
  opacity: 0.5;
  font-family: Open Sans;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  border: none;
  background-color: transparent; 
}

.content {
  margin-left: 20px; 
}

.register {
  border-radius: 6px;
  background: #80B340;
  width: 101px;
  height: 36px;
  font-family: Open Sans Semibold;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0; 
  margin-top: 10px;
}

.register:hover {
  color: #FFFFFF; 
}

.login {
  font-family: Open Sans Semibold;
  font-size: 13px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 20px; 
}

.imguser {
  width: 42px;
  height: 42px; 
}

ul .help {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 35px; 
  margin-top: 10px;
}

ul .explore {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #72777E;
  letter-spacing: 0;
  margin-right: 10px; 
  margin-top: 10px;
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

a {
  color: #45BF7C;
  text-decoration: none; 
}

a:hover {
  color: #45BF7C;
  text-decoration: none;
  cursor: pointer; 
}

p {
  font-size: 12px;
  font-family: Open Sans;
  font-size: 12px;
  color: #72777E;
  letter-spacing: 0;
}

#card_user {
  margin-top: 160px;
}
.list-group {
  width: 100%;
}

.card-text {
  font-family: Helvetica;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  line-height: 20px;
}

.imgprofil {
  border: 2px solid #FFFFFF;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.10);
  width: 65px;
  height: 65px;
}

.link-link {
  font-family: Open Sans;
  font-size: 16px;
  color: #72777E;
}

.imgicon {
  width: 43.3px;
  height: 42px;
}

.notify-badge {
  position: absolute;
  left: 42px;
  top: 22px;
  border-radius: 30px 30px 30px 30px;
  background: #F92B1A;
  border: 2px solid #FFFFFF;
  padding:3px 3px;
}

.aktif, .dana_ {
  font-family: Open Sans Semibold;
  font-size: 16px;
  color: #45BF7C;
}

.headline {
  font-family: Helvetica;
  font-size: 24px;
  color: #3C3C3C;
  letter-spacing: 0;
  line-height: 42px;
}

.waktu {
  font-family: Open Sans;
  font-size: 18px;
  color: #72777E;
  letter-spacing: 0;
}

.imgtrns {
  width: 74px;
  height: 74px;
}

.judul, .nom_donasi {
  font-family: Open Sans Semibold;
  color: #555555;
  letter-spacing: 0;
  font-size: 16px;
}

.tanggal {
  font-family: Open Sans;
  font-size: 16px;
  color: #72777E;
  letter-spacing: 0;
}

.status {
  background: #FFFFFF;
  border: 1px solid #45BF7C;
  font-family: Open Sans;
  font-size: 12px;
  letter-spacing: 0;
  width: 96px;
  height: 27px;
  margin-right: 10px;
  padding: 0;
}

.box {
  background: #FFFFFF;
  border-radius: 4px;
  font-family: Open Sans Semibold;
  font-size: 18px;
  color: #555555;
  line-height: 24px;
  height: 120px;
  width: 822px;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.08);
}

.imghead {
  width: 100px;
  height: 74px;
}

.box1 {
  background: #FFFFFF;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,0.08);
  height: 146px;
  width: 274px;
}

.imglapdonasi {
  background: rgba(69,191,124,0.25);
  margin-top: 15px;
  width: 63.5px;
  height: 64.5px;
}

.dana_donasi {
  font-family: Helvetica;
  font-size: 20px;
  color: #45BF7C;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 100px;
  left: 122px;
}

.status_ket {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  top: 125px;
  left: 122px;
}

.pencarian{
  margin-top: 40px;
}

.sort_by {
  font-family: Open Sans;
  font-size: 14px;
  color: #717171;
  letter-spacing: 0;
  text-align: right;
}

.cari_donasi {
  font-family: Open Sans;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  width: 275px;
  height: 50px;
  background-image: url("../img/dashboard-transaksi/search.png");
  background-repeat:no-repeat;
  background-position: 5%;
  padding-left:50px;
  opacity: 0.5;
}

#sel1 {
  font-family: Open Sans;
  font-size: 16px;
  color: #3C3C3C;
  letter-spacing: 0;
  background: #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 4px;
  width: 190px;
  height: 50px;
}

.lap1 {
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: 30px;
}

.setting_ {
  margin-top: 20px; 
  margin-bottom: 20px; 
  margin-left: 30px;
}

footer {
  background: #F9F9F9;
  margin-top: 100px;
}

.imglogo{
  width: 176px;
  height: 37px;
  margin-top: 20px;
}

.temukan {
  margin-top: 20px;
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 32px;
}

.find_text {
  margin-top: 9px;
  margin-right: 30px;
}

.imgsosmed {
  margin-right: 25px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #DFDFDF;
}

a {
  color: #45BF7C;
  text-decoration: none;
}

.head_footer {
  font-family: Open Sans;
  font-size: 14px;
  color: #72777E;
  line-height: 24px;
}

.subjudul {
  font-family: Open Sans Semibold;
  font-size: 18px;
  color: #555555;
}

.cr_footer {
  font-family: Open Sans;
  font-size: 12px;
  color: #72777E;
  margin-top: 4.5px;
  margin-bottom: 31px;
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}